.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease,
    color 0.15s ease, opacity 0.15s ease;

  &--lg {
    width: 64px;
    height: 64px;
  }

  &--sm {
    width: 32px;
    height: 32px;
  }

  &--is-loading {
    cursor: default;
  }

  &:not(:disabled):not(.button-icon--is-loading):focus-visible {
    outline: 2px solid var(--hover-color);
    outline-offset: 2px;
  }

  &:not(:disabled):not(.button-icon--is-loading):hover {
    transform: scale(1.05);
    color: var(--hover-color);
  }

  &[style*='--background-color: transparent']:not(:disabled):not(
      .button-icon--is-loading
    ):hover {
    background-color: rgba(var(--icon-color), 0.12);
  }

  &:not(:disabled):not(.button-icon--is-loading):active {
    transform: scale(0.95);
  }

  &--disabled,
  &:not(.button-icon--is-loading):disabled {
    cursor: default;
    color: var(--disabled-color);
    opacity: 0.5;
  }
}
