.input {
  position: relative;
  margin-bottom: 1.5rem;
  --icon-padding-left: 0px;
  --icon-padding-right: 0px;

  &__fieldset {
    display: block;
    min-inline-size: min-content;
    border: 0;
    border-radius: 8px;
    padding: 0;
    margin: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__field {
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border: 1px solid var(--color-border);
    border-radius: 12px;
    background-color: var(--color-background);
    transition: all 0.3s ease;
    font-weight: 400;
    padding-left: calc(1rem + var(--icon-padding-left));
    padding-right: calc(1rem + var(--icon-padding-right));
    font-family: 'Nunito', sans-serif;
    color: var(--color-text-primary);

    &:hover:not(:disabled):not([readonly]) {
      border-color: var(--color-border-hover);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--color-border-hover);
      box-shadow: 0 0 0 2px var(--color-focus);
    }

    &:disabled {
      background-color: var(--color-background);
      cursor: not-allowed;
      opacity: 0.7;
    }

    &[readonly] {
      background-color: var(--color-background);
      border-color: var(--color-border);
      cursor: default;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--color-text-secondary);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
    background-color: var(--color-background);
    padding: 0 0.25rem;
    z-index: 1;

    &--required::after {
      content: '*';
      color: var(--color-feedback-error);
      margin-left: 0.25rem;
    }
  }

  &__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-muted);

    &--leading {
      left: 1rem;
      pointer-events: none;
    }

    &--trailing {
      right: 1rem;
      pointer-events: auto;
      background: none;
      border: none;
      padding: 0;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
  }

  &__helper-text {
    display: block;
    font-size: 0.75rem;
    color: var(--color-text-muted);
    margin-left: 10px;

    &--error {
      color: var(--color-feedback-error);
      font-weight: 600;
    }

    &--success {
      color: var(--color-feedback-success);
      font-weight: 600;
    }
  }

  &__counter {
    font-size: 0.75rem;
    color: var(--color-text-muted);
    margin-right: 5px;
  }

  &--has-value &__label,
  &--is-focused &__label,
  &--has-placeholder &__label {
    top: -1.5rem;
    left: 0.5rem;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    z-index: 999;
  }

  &--is-focused &__label {
    color: var(--color-text-primary);
  }

  &--error &__label:not(.input--is-focused) {
    color: var(--color-feedback-error);
  }

  &--success &__label:not(.input--is-focused) {
    color: var(--color-feedback-success);
  }

  &--has-value &__label:not(.input--is-focused) {
    color: var(--color-text-secondary);
  }

  &--disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &--readonly {
    .input__field {
      background-color: var(--color-background);
      border-color: var(--color-border);
      cursor: default;
    }
  }

  &--error {
    .input__field {
      border-color: var(--color-feedback-error);

      &:focus {
        border-color: var(--color-feedback-error);
        box-shadow: 0 0 0 2px var(--color-focus);
      }
    }
  }

  &--success {
    .input__field {
      border-color: var(--color-feedback-success);

      &:focus {
        border-color: var(--color-feedback-success);
        box-shadow: 0 0 0 2px var(--color-focus);
      }
    }
  }
}
