.button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  border: 0;
  border-radius: 8px;
  min-width: 120px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  color: white;
  font-weight: 600;
}

.button:hover {
  transform: scale(1.0175);
}

.button:active {
  transform: scale(0.985);
}

.button:focus {
  border: 1px solid #333131;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-icon {
  margin-right: 0.5rem;
}
.button-label {
  display: block;
}
