.button-tertiary {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 120px;
  padding: 12px 20px;

  border: 0;
  border-radius: 8px;
  background-color: transparent;

  font-size: 17px;
  cursor: pointer;
  outline: none;

  color: var(--button-tertiary-text);

  transition:
    color 0.2s ease,
    transform 0.15s ease;

  &:not(:disabled):focus-visible {
    outline: 2px solid var(--button-tertiary-focus);
    outline-offset: 2px;
  }

  &:not(:disabled):hover {
    transform: scale(1.0175);
    color: var(--button-tertiary-hover-text);
  }

  &:not(:disabled):active {
    transform: scale(0.985);
  }

  &--disabled,
  &:disabled {
    cursor: default;
    color: var(--button-tertiary-disabled-text);
  }

  &--large {
    padding: 20px 36px;
  }

  &__icon {
    display: flex;
    align-items: center;

    &--left {
      margin-right: 0.8rem;
    }

    &--right {
      margin-left: 0.8rem;
    }
  }

  &__label {
    display: block;
    color: inherit;
  }
}
