.button-secondary {
  font-family: var(--font-family-base); // usa o token global
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 120px;
  padding: 12px 20px;

  border: 0;
  border-radius: 8px;
  background-color: transparent;

  font-size: 17px;
  cursor: pointer;

  color: var(--button-color, var(--color-button-secondary-text));

  outline: none;
  transition:
    transform 0.15s ease,
    background-color 0.15s ease,
    box-shadow 0.15s ease;

  &:focus-visible {
    outline: 2px solid var(--color-button-secondary-focus);
    outline-offset: 2px;
  }

  &:not(:disabled):hover {
    transform: scale(1.0175);
    background-color: var(--color-button-secondary-hover-bg);
  }

  &:not(:disabled):active {
    transform: scale(0.985);
  }

  &--disabled,
  &:disabled {
    cursor: default;
    color: var(--color-button-secondary-disabled-text);
  }

  &--large {
    padding: 20px 36px;
  }

  &__icon {
    display: flex;
    align-items: center;

    &--left {
      margin-right: 0.8rem;
    }

    &--right {
      margin-left: 0.8rem;
    }
  }

  &__label {
    display: block;
    color: inherit;
  }
}
