.button-secondary {
  font-family: 'Nunito', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  min-width: 120px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  color: black;
  background-color: transparent;

  &:focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
  }

  &:not(:disabled):hover {
    transform: scale(1.0175);
    background-color: color-mix(in srgb, var(--hover-color) 5%, transparent);
    color: var(--hover-color);
  }

  &:not(:disabled):active {
    transform: scale(0.985);
  }

  &--disabled,
  &:disabled {
    cursor: default;
    color: var(--color-text-disabled);
  }

  &--large {
    padding: 20px 36px;
  }

  &__icon {
    &--left {
      margin-right: 0.8rem;
      display: flex;
      align-items: center;
    }
    &--right {
      margin-left: 0.8rem;
      display: flex;
      align-items: center;
    }
  }

  &__label {
    display: block;
    color: inherit;
  }
}
