// Paleta de Cores para o Modo Claro
$color-primary-light: rgb(55, 39, 114); // #372772
$color-secondary-light: rgb(255 127 80); // #FF7F50
$color-background-light: rgb(229, 229, 229); // #e5e5e5
$color-success-light: rgb(130, 169, 67); // #82a943
$color-alert-light: rgb(193, 158, 61); // #c19e3d
$color-error-light: rgb(121 1 24); // #790118
$color-text-light: rgb(51, 51, 51); // #333333
$color-text-disabled-light: #807c7b;

// Paleta de Cores para o Modo Escuro
$color-primary-dark: rgb(55, 39, 114); // #372772
$color-secondary-dark: rgb(255 127 80); // #FF7F50
$color-background-dark: rgb(51, 51, 51); // #333333
$color-text-dark: rgb(229, 229, 229); // #e5e5e5
$color-success-dark: rgb(130, 169, 67); // #82a943
$color-alert-dark: rgb(193, 158, 61); // #c19e3d
$color-error-dark: rgb(121 1 24); // #790118
$color-text-disabled-dark: #807c7b;

// Mapas de Cores (mantidos como referência)
$light-theme-colors: (
  primary: $color-primary-light,
  secondary: $color-secondary-light,
  background: $color-background-light,
  text: $color-text-light,
  text-disabled: $color-text-disabled-light
);

$dark-theme-colors: (
  primary: $color-primary-dark,
  secondary: $color-secondary-dark,
  background: $color-background-dark,
  text: $color-text-dark,
  text-disabled: $color-text-disabled-dark
);
