/* Base */
@use './base/fonts';

/* Tokens */
@use './tokens/palette';
@use './tokens/layout';
@use './tokens/semantic';
@use './tokens/themes';

/* Global reset (opcional) */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}
