@use 'fonts';
@use 'variables' as *;
@use 'colors' as *;

:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Esquema de cores (light mode)
  color-scheme: light;
  --color-background: rgb(229, 229, 229);
  --color-primary: rgb(55, 39, 114);
  --color-secondary: rgb(255 127 80);
  --color-success: rgb(130, 169, 67);
  --color-warning: rgb(193, 158, 61);
  --color-info: rgb(52, 73, 102);
  --color-error: rgb(121 1 24);
  --color-success-background: rgb(243 255 243);
  --color-warning-background: rgb(255 249 245);
  --color-info-background: rgb(230 235 245);
  --color-error-background: rgb(251 243 244);
  --color-text: rgb(51, 51, 51);
  --color-text-disabled: rgb(128, 124, 123);

  // Esquema de cores (dark mode)
  @media (prefers-color-scheme: dark) {
    --color-background: rgb(51, 51, 51);
    --color-primary: rgb(55, 39, 114);
    --color-secondary: rgb(255 127 80);
    --color-success: rgb(130, 169, 67);
    --color-warning: rgb(193, 158, 61);
    --color-info: rgb(52, 73, 102);
    --color-error: rgb(121 1 24);
    --color-success-background: rgb(243 255 243);
    --color-warning-background: rgb(255 249 245);
    --color-info-background: rgb(230 235 245);
    --color-error-background: rgb(251 243 244);
    --color-text: rgb(229, 229, 229);
    --color-text-disabled: rgb(128, 124, 123);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
