@use './base/_fonts';
@use './tokens/_palette';
@use './tokens/_layout';
@use './tokens/_semantic';
@use './tokens/_themes';
@use './tokens/_semantic-aliases';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}
