/* Base */
@use './base/_fonts';

/* Tokens */
@use './tokens/_palette';
@use './tokens/_layout';
@use './tokens/_semantic';
@use './tokens/_themes';
@use './tokens/_semantic-aliases';

/* Global reset (opcional) */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-primary);
  background-color: var(--color-surface);
}
