.icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: currentColor;
  vertical-align: middle;

  &--sm {
    width: 1em;
    height: 1em;
  }

  &--md {
    width: 1.25em;
    height: 1.25em;
  }

  &--lg {
    width: 1.75em;
    height: 1.75em;
  }
}
