.button-primary {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border: 0;
  border-radius: 8px;
  min-width: 120px;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  background-color: var(--color-primary);
  color: var(--color-text);

  &:focus-visible {
    outline: 2px solid var(--color-secondary);
    outline-offset: 2px;
  }

  &:not(:disabled):hover {
    transform: scale(1.0175);
  }

  &:not(:disabled):active {
    transform: scale(0.985);
  }

  &--disabled,
  &:disabled {
    opacity: 0.5;
  }

  &--large {
    padding: 20px 36px;
  }

  &__icon {
    &--left {
      margin-right: 0.8rem;
      display: flex;
      align-items: center;
    }
    &--right {
      margin-left: 0.8rem;
      display: flex;
      align-items: center;
    }
  }

  &__label {
    display: block;
    color: inherit;
  }
}

.button-primary:disabled {
  cursor: default;
  opacity: 0.5;
}
