.alert {
  padding: 10px;
  width: 100%;

  &__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 64px;
    padding: 20px 50px;
    background-color: var(--background-color);
    color: var(--color);
    font-weight: bold;
  }

  &__message {
    font-size: 17px;
  }

  &__icon {
    position: absolute;
    right: 25px;
    display: flex;

    &:hover {
      background-color: #a6a09f33;
    }
  }
}
