.alert {
  width: 100%;
  padding: 10px;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 64px;
    padding: 20px 50px;

    background-color: var(--alert-bg);
    color: var(--alert-text);

    font-weight: var(--font-weight-semibold);
  }

  &__message {
    font-size: var(--font-size-md);
  }

  &__icon {
    position: absolute;
    right: 25px;
    display: flex;

    &:hover {
      background-color: var(--alert-icon-hover-bg);
    }
  }

  /* Variants */
  &--success {
    --alert-bg: var(--alert-success-bg);
    --alert-text: var(--alert-success-text);
  }

  &--warning {
    --alert-bg: var(--alert-warning-bg);
    --alert-text: var(--alert-warning-text);
  }

  &--error {
    --alert-bg: var(--alert-error-bg);
    --alert-text: var(--alert-error-text);
  }

  &--info {
    --alert-bg: var(--alert-info-bg);
    --alert-text: var(--alert-info-text);
  }
}
