.header {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  z-index: 2000;

  &__left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__center {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
