@font-face {
  font-family: "Quicksand";
  src: url("@assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("@assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("@assets/fonts/Quicksand-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Quicksand";
  src: url("@assets/fonts/Quicksand-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  font-family:
    "Quicksand", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
