/**
 * Tokens semânticos de texto
 * Define cores e estados para textos.
 */

:root {
  --color-text-primary: var(--color-neutral-700);
  --color-text-secondary: var(--color-neutral-600);
  --color-text-muted: var(--color-neutral-500);
  --color-text-disabled: var(--color-neutral-400);
  --color-text-inverse: var(--color-neutral-0);
}
