.heading {
  letter-spacing: 0px;
  color: var(color-text-primary);

  &--h-1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }

  &--h-2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }

  &--h-3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  &--h-4 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }

  &--h-5 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }

  &--h-6 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
  }
}
